<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Telemetry App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .error {
            color: red;
        }

        .container {
            margin-top: 50px;
        }

        .col-md-6 {
            margin: auto;
            width: 50%;
        }
    </style>
</head>
<body class="container mt-5">
<div class="col-md-6">
    <span th:if="${userForm.userName}!=null">
        <h2>Modify user</h2>
    </span>
    <span th:if="${userForm.userName}==null">
        <h2>Create new user</h2>
    </span>
    <div class="container mb-3">
        <form action="#" th:action="@{/gui/users/processUserForm}" th:object="${userForm}" method="POST">
            <div class="mb-3">
                <label for="userName" class="form-label">Username:</label>
                <input th:disabled="${userForm.userName}!=null" id="userName" name="userName" class="form-control" th:field="*{userName}" required>
                <input th:if="${userForm.userName}!=null" hidden name="userName" class="form-control" th:field="*{userName}" required>
                <span id="userNameError" th:if="${userNameError!=''}" th:text="${userNameError}" class="error"></span>
            </div>
            <div class="mb-3">
                <label for="authorities" class="form-label">Authorities:</label>
                <div id="authorities" class="list-group">
                    <input type="hidden" id="userAuthorities" th:field="*{authorities}" />
                    <a id="selectrootElement" href="#" class="list-group-item list-group-item-info active text-center" aria-current="true">
                        <div class="row g-6">
                            <div class="col-md-4">
                                <label for="addAuthority" class="form-label">Add Authority:</label>
                            </div>
                            <div class="col-md-8">
                                <select id="addAuthority" class="form-select" onchange="selectNewAuthority()" >
                                    <option value="BASEVALUE" disabled selected hidden>Authority</option>
                                    <option th:each="tempAuthority : ${availableAuthorities}" th:value="${tempAuthority}">
                                        <span th:text="${tempAuthority}"></span>
                                    </option>
                                </select>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <button type="submit" id="submitButton" class="btn btn-primary" style="width:100%">Save</button>
        </form>
    </div>
    <div class="container mb-3">
        <p class="text-center ">
            <a id="backToList" class="btn btn-primary" th:href="@{/gui/usersList}" style="width:25%">Back to list</a>
        </p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
    var nameInput = document.getElementById('userName');
    var nameError = document.getElementById('userNameError');
    var submitButton = document.getElementById('submitButton');
    var authDropdown = document.getElementById('addAuthority');
    var authoritiesList = document.getElementById('authorities');
    var authoritiesThymeleaf = document.getElementById('userAuthorities')


    function loadPage(){
        var authoritiesArray = authoritiesThymeleaf.value.split(',');
        for (var i = 0; i < authoritiesArray.length; i++) {
            var authority = authoritiesArray[i].trim();
            if(authority!=null && authority!=""){
                addAuthority(authority)
            }
        }
    }

    function selectNewAuthority(){
        var selectedValue = authDropdown.value;
        addAuthority(selectedValue);
        authDropdown.value = "BASEVALUE";
    }

    function addAuthority(selectedAuthority) {
        if (document.getElementById(selectedAuthority)==null) {

            var newAuthorityItem = document.createElement('a');
            newAuthorityItem.classList.add('list-group-item', 'list-group-item-action', 'd-flex', 'justify-content-between', 'align-items-center');
            newAuthorityItem.innerHTML = '<span>' + selectedAuthority + '</span><span class="badge text-bg-info rounded-pill remove-authority">Remove</span>';
             newAuthorityItem.setAttribute('id', selectedAuthority);

            authoritiesList.insertBefore(newAuthorityItem, document.getElementById('selectrootElement'));

            newAuthorityItem.lastElementChild.addEventListener('click', function () {
                authoritiesList.removeChild(newAuthorityItem);
                removeAuthority(newAuthorityItem.id);
            });

            var authoritiesArray = authoritiesThymeleaf.value.split(',');

            //console.log(authoritiesArray)

            if (authoritiesArray.indexOf(selectedAuthority) == -1) {
                authoritiesArray.push(selectedAuthority);
                authoritiesThymeleaf.value = authoritiesArray;

            }
            //console.log(authoritiesArray)
        }
    }

    function removeAuthority(authorityName) {
        var authoritiesArray = authoritiesThymeleaf.value.split(',');
        //console.log(authoritiesArray)
        const index = authoritiesArray.indexOf(authorityName);
        if (index > -1) {
            authoritiesArray.splice(index, 1);
            authoritiesThymeleaf.value = authoritiesArray;
        }
        //console.log(authoritiesArray)
    }

    function validateName() {
        var authoritiesArray = authoritiesThymeleaf.value.split(',')
        authoritiesArray = authoritiesArray.filter(function(authority) {
            return authority.trim() !== "";
        });

        var name = nameInput.value;
        submitButton.disabled = true;

        if (name.length > 0 && name.length < 4) {
            nameError.textContent = 'Must be at least 4 characters long';
        } else {
            nameError.textContent = '';
        }

        if (name.length >= 4 && authoritiesArray.length > 0) {
            submitButton.disabled = false;
        }
    }

    nameInput.addEventListener('input', validateName);
    window.addEventListener("load",validateName);
    window.addEventListener('load', loadPage);
    document.addEventListener('click', validateName);
</script>
</body>
</html>